* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all 0.35s ease;
    background-color: rgba(34, 176, 174, 0.661);
    padding: 14px 14%;
    border-radius: 15px;
}

.inleft {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 300px;
    border: none;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
   
}
.capa {
    position: absolute;
    width: 150px;
    animation: capa-animation 2s infinite linear;
}
@keyframes capa-animation{
    from{
        right: -190px;
    }
    to{
        right: 100%;
    }
}
.game-board-left {
    width: 50%;
    height: 2px;
    border: none;
    margin: 0 auto;
    position: relative;
    margin-top: 180px;
}
.capa-left {
    position: absolute;
    top: 0px;
    width: 150px;
    animation: capa-left-animation 2s infinite linear;
}
@keyframes capa-left-animation{
    from{
        left: -190px;
    }
    to{
        left: 100%;
    }
}

.logo {
    font-weight: 500;
    font-size: 1rem;
}

.cabecalho-links {
    display: flex;
    gap: 3rem;
}

.cabecalho-links a {
    color: #474747;
    font-weight: 700;
    transition: 0.3s;
}

.cabecalho-links a:hover {
    color: rgb(155, 64, 22);
}

.icon span {
    font-size: 2rem;
    cursor: pointer;
}

.logo span:hover {
    color: aquamarine;
}
.red{
    cursor: pointer;
}
.red :hover{
    color: red;
}
.green{
    cursor: pointer;
}
.green :hover{
    color: green;
}
.pink{
    cursor: pointer;
}
.pink :hover{
    color: rgb(201, 94, 112);
}
.foto {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    margin-top: 80px;
}

.foto-flex img {
    width: 450px;
    height: auto;
    transition: 0.35s ease;
}

.foto-flex img:hover{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    background-color: #4747;
}
.leia-mais-btn {
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 123, 0);
    cursor: pointer;
    font-weight: bold;
    padding-left: 2rem ;
  }
  .conteiner P{
    padding: 2rem;
  }
  .meio{
    padding-left: 1rem;
  }
